<p>
    <span>{{checklist.countCompleted}} of {{checklist.count}} remaining</span>
    [<button class="btn btn-link" (click)="checklist.removeCompleted()">archive</button>]
</p>

<ul class="list-unstyled">
    <li *ngFor="#task of checklist.tasks">
        <label class="checkbox">
            <input type="checkbox" [(ngModel)]="task.done">
            <span [class.task-done]="task.done">{{task.name}}</span>

        </label>
    </li>
</ul>

<form (ngSubmit)="addTask()">
    <input type="text" [(ngModel)]="newTask.name" required size="30" placeholder="add new todo here">
    <input class="" type="submit" value="add">
</form>